<section class="special-offers" aria-labelledby="special-offers-heading">
  <div class="container">
    <h2 id="special-offers-heading">Special offers</h2>
    <div class="offers-grid">
      <article class="offer-card" *ngFor="let offer of offers">
        <!-- Header Bar with Transport Type -->
        <div class="offer-header" [style.background-color]="offer.headerColor">
          <img [src]="'/images/icons/' + offer.typeIcon" [alt]="offer.type" class="transport-icon" />
          <span class="transport-type">{{ offer.type }}</span>
        </div>

        <!-- Card Content -->
        <div class="offer-content">
          <!-- Company Info -->
          <div class="company-section">
            <img [src]="'/images/offre/' + offer.companyLogo" [alt]="offer.company" class="company-logo" />
            <span class="company-name">{{ offer.company }}</span>
          </div>

          <!-- Details with Icons -->
          <div class="offer-details">
            <div class="detail-row">
              <img src="/images/icons/shedules.svg" alt="Duration" class="detail-icon" />
              <span class="detail-text">{{ offer.duration }}</span>
            </div>
            <div class="detail-row">
              <img src="/images/icons/truck.svg" alt="Container" class="detail-icon" />
              <span class="detail-text">{{ offer.loadType }}</span>
            </div>
            <div class="detail-row">
              <img src="/images/icons/truck.svg" alt="Container" class="detail-icon" />
              <span class="detail-text">{{ offer.containerSize }}</span>
            </div>
          </div>

          <!-- Route Timeline -->
          <div class="route-timeline">
            <div class="timeline-container">
              <!-- Origin -->
              <div class="route-point origin-point">
                <div class="route-dot origin-dot"></div>
                <div class="route-info">
                  <div class="route-location-row">
                    <img [src]="'/images/offre/' + offer.origin.flag" [alt]="offer.origin.country" class="route-flag" />
                    <span class="route-location">{{ offer.origin.location }}, {{ offer.origin.country }}</span>
                  </div>
                  <span class="route-date">{{ offer.origin.date }} - {{ offer.origin.time }}</span>
                </div>
              </div>

              <!-- Timeline Line -->
              <div class="timeline-line"></div>

              <!-- Transit Points -->
              <div class="transit-points" *ngIf="offer.transit && offer.transit.length > 0">
                <div class="transit-point" *ngFor="let transit of offer.transit">
                  <div class="transit-dot"></div>
                  <div class="transit-info">
                    <span class="transit-label">Transit</span>
                    <span class="transit-duration">{{ transit.duration }}</span>
                  </div>
                </div>
              </div>

              <!-- Destination -->
              <div class="route-point destination-point">
                <div class="route-dot destination-dot"></div>
                <div class="route-info">
                  <div class="route-location-row">
                    <img [src]="'/images/offre/' + offer.destination.flag" [alt]="offer.destination.country" class="route-flag" />
                    <span class="route-location">{{ offer.destination.location }}, {{ offer.destination.country }}</span>
                  </div>
                  <span class="route-date">{{ offer.destination.date }} - {{ offer.destination.time }}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Footer Actions -->
          <div class="offer-footer">
            <button class="btn-view-details">View details</button>
            <div class="price-section">
              <span class="offer-price">{{ offer.price }}</span>
              <button class="btn-book-now">Book now</button>
            </div>
          </div>
        </div>
      </article>
    </div>

    <!-- View More Button -->
    <div class="view-more-container">
      <button class="btn-view-more">
        View more
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</section>
