<section class="hero-section">
  <div class="hero-overlay" [style.background-image]="getBackgroundImageUrl()"></div>
  
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
  <span class="line-1">Find the Best</span><br />
  <span class="line-2">Shipping Rates Fast</span>
</h1>

      <p class="hero-subtitle">{{ subtitle }}</p>
    </div>
    
    <div class="hero-form-wrapper">
      <!-- Search Form Component -->
      <app-search-form (transportChanged)="onTransportChanged($event)"></app-search-form>
    </div>
  </div>
</section>