<div class="partners-section">
  <div class="partners-container">
    <div class="partners-box">
      <div class="partners-track">
        <div class="partner" *ngFor="let partner of partners">
          <img
            [src]="'images/partners/Logo wrapper (' + getPartnerIndex(partner.name) + ').png'"
            [alt]="partner.name + ' logo'"
            class="partner-logo"
          />
        </div>
        <div class="partner" *ngFor="let partner of partners">
          <img
            [src]="'images/partners/Logo wrapper (' + getPartnerIndex(partner.name) + ').png'"
            [alt]="partner.name + ' logo'"
            class="partner-logo"
          />
        </div>
      </div>
    </div>
  </div>
</div>